// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

span {
  color: white;
  background-color: blue;
  font-size: 30px;
  font-family: Poppin;
  margin: 10px;
  font-weight: bold;
  padding: 10px;
}


p {
  padding: 15px;
}
